11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

# need to do use 16.4 to do 16.8: 16.4 Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer).


16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [ ]:
# 11.1
# zoo.py is declared in the root of my folder sdev_220_zroberts . The 11.1 program imports it to mod4ModulesDataBasesAssn

from zoo import hours

hours()

'Open 9-5 daily'

In [ ]:
#11.2
import zoo as menagerie 

hours()

'Open 9-5 daily'

In [2]:
#16.4 

import sqlite3

bridge = sqlite3.connect("books.db")

cursor = bridge.cursor()

cursor.execute("""
               CREATE TABLE IF NOT EXISTS books (
               title TEXT,
               author TEXT,
               year INTEGER
)
""")

bridge.commit()
bridge.close()

books_db_there: str ='books.db is in sqlite3'

print(books_db_there)

books.db is in sqlite3

In [ ]:
#16.8 
# initiated venv in sdev_22-_zroberts folder, installed sqlalchemy local to the venv. 

from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///books.db")

with engine.connect() as bridge:
    result = bridge.execute(
        text("SELECT title FROM book ORDER by TITLE")
    )

for row in result:
    print(row[0])

ModuleNotFoundError: No module named 'sqlalchemy'